<div ng-init="loadServerCart()" id="server-cart" ng-show="ServerCart">
  <checkout-process step="3"></checkout-process>
  <blocks>
    <block type="target" color="green">
      <i class="icon icon-ticket"></i>
      <span>Tickets</span>
    </block>
    <block type="image">
      <div class="col-borderless">
        <img ng-src="/img/default_store.jpg" fallback-src="/img/default_store.jpg" alt="{{StoreObj.Name}}" class="img-responsive">
      </div>
    </block>
    <block type="title">
      <h4 class="fading-border-bottom"><i class="icon-building"></i> {{StoreObj.Name}}</h4>
    </block>
  </blocks>
  <div class="row row-unpadded no-overflow">
    <div class="col-sm-4 cart-details">
      <div class="row purchaser">
        <div class="col-xs-12">
          <h3>Purchaser</h3>
          <p>{{DomainProfile.Contact.FullName}}</p>
        </div>
      </div>
      <div class="row totals">
        <div class="col-xs-6"><b>Total</b></div>
        <div class="col-xs-6">{{ServerCart.Total.ItemPrice|currency}}</div>
      </div>
    </div>
    <div class="col-sm-8 summery" >
      <h3>Please verify your order</h3>
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th>Event</th>
            <th>Ticket Type</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in ServerCart.InventoryItems">
            <td class="event">
              {{item.EventName}}
            </td>
            <td class="name">{{item.ItemInfoName}}</td>
            <td class="price">{{item.ItemInfoPrice.ItemPrice | currency}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-6">
          &nbsp;
          <!-- Credit Card Icons -->
        </div>
        <div class="col-sm-6 pull-right text-center">
          <div>
            <a href="" class="btn btn-green btn-huge" ng-disabled="processingRequest" ng-click="processPayment()">
              &gt; Complete Purchase
            </a>    
          </div>
          <div class="cancel">
            <a href="" class="" confirm="Are you sure you want to cancel your order?" ng-click="cancelOrder()">
              -or- cancel purchase
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>