<div ng-init="loadServerCart()" id="server-cart" ng-show="ServerCart">
  <checkout-process step="3"></checkout-process>
  <blocks>
    <block type="target" color="green">
      <i class="icon icon-ticket"></i>
      <span>{{"Cart.HeaderTitle" | t:"Tickets"}}</span>
    </block>
    <block type="image">
      <div class="col-borderless">
        <store-img store="StoreObj"></store-img>
      </div>
    </block>
    <block type="title">
      <div class="row fading-border-bottom title">
        <div class="col-xs-2"><i class="icon-building"></i></div>
        <div class="col-xs-10"><h4>{{StoreObj.Name}}</h4></div>
      </div>
    </block>
  </blocks>
  <div class="row row-unpadded background-extended">
    <div class="col-sm-4 cart-details">
      <div class="row purchaser">
        <div class="col-xs-12">
          <h3>{{"Cart.Purchaser.Headline" | t:"Purchaser"}}</h3>
          <p>{{DomainProfile.Contact.FullName}}</p>
        </div>
      </div>
      <div class="row totals">
        <div class="col-xs-6"><b>{{"Cart.Purchaser.Total" | t:"Total"}}</b></div>
        <div class="col-xs-6">{{ServerCart.Total.ItemPrice|currency}}</div>
      </div>
    </div>
    <div class="col-sm-8 summery" >
      <h3>{{"Cart.VerifyPurchaseText" | t:"Please verify your order"}}</h3>
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th>{{"Cart.Table.Header.Event" | t:"Event"}}</th>
            <th>{{"Cart.Table.Header.TicketType" | t:"Ticket Type"}}</th>
            <th>{{"Cart.Table.Header.Price" | t:"Price"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in ServerCart.InventoryItems">
            <td class="event">
              {{item.EventName}}
            </td>
            <td class="name">{{item.ItemInfoName}}</td>
            <td class="price">{{item.ItemInfoPrice.ItemPrice | currency}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-6 text-xs-center">
          <payment-icons payment-provider="{{StoreObj.PaymentProviders[0].ProviderType}}"></payment-icons>
        </div>
        <div class="col-sm-6 pull-right text-center">
          <label class="iagree">
            <input type="checkbox" name="iagree" ng-model="iAgree" required="true">
            I agree to the 
            <a href="" ng-href="#/page/terms" target="preticket-terms">terms</a> 
          </label>    
          <div>
            <a href="" class="btn btn-green btn-huge" ng-disabled="processingRequest || !iAgree" ng-click="processPayment()">
              {{PurchaseButtonText}}
            </a>    
          </div>
          <div class="cancel">
            <a href="" class="" confirm="Are you sure you want to cancel your order?" ng-click="cancelOrder()">
              {{"Cart.Button.CancelPurchase" | t:"-or- cancel purchase"}}
            </a>
          </div>
        </div>
      </div>
      <div class="row row-unpadded text-xs-center">
        <div class="col-xm-12">
          <share-icons wait-till="StoreObj"></share-icons>
        </div>
      </div>
    </div>
  </div>
</div>