<div ng-init="loadServerCart()" ng-show="ServerCart">
  <h3>Please verify your order</h3>
  <table class="table table-hover">
    <tr ng-repeat="item in ServerCart.InventoryItems">
      <td class="name">{{item.EventName}} - {{item.ItemInfoName}}</td>
      <td class="price">{{item.ItemInfoPrice.ItemPrice | currency}}</td>
    </tr>
    <tfoot>
      <tr>
        <td class="text-right"><b class="text-primary">Total:</b></td>
        <td><b class="text-primary">{{ServerCart.Total.ItemPrice|currency}}</b></td>
      </tr>
    </tfoot>
  </table>
  <div class="row">
    <a href="" class="btn offset7 span2" confirm="Are you sure you want to cancel your order?" ng-click="cancelOrder()">
      <i class="icon-remove-sign"></i> Cancel Order
    </a>
    <a href="" class="btn btn-primary btn-large span2" ng-disabled="processingRequest" ng-click="processPayment()">
      <i class="icon-money icon-large"></i> Purchase
    </a>
  </div>
</div>