<div id="cart" ng-init="setupCart()" ng-show="CartObj">
  <checkout-process step="2"></checkout-process>
  <blocks>
    <block type="target" color="green">
      <i class="icon icon-ticket"></i>
      <span>{{"Cart.HeaderTitle" | t:"Tickets"}}</span>
    </block>
    <block type="image">
      <div class="col-borderless">
        <store-img store="StoreObj"></store-img>
      </div>
    </block>
    <block type="title">
      <div class="row fading-border-bottom title">
        <div class="col-xs-2"><i class="icon-building"></i></div>
        <div class="col-xs-10"><h4>{{StoreObj.Name}}</h4></div>
      </div>
    </block>
  </blocks>
  <div class="row row-unpadded">
    <div class="col-sm-12">
      <h2>{{"Cart.VerifyCartText" | t:"Please Verify your order"}}</h2>
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th>{{"Cart.Table.Header.Event" | t:"Event"}}</th>
            <th>{{"Cart.Table.Header.TicketType" | t:"Ticket Type"}}</th>
            <th>{{"Cart.Table.Header.Price" | t:"Price"}}</th>
            <th>{{"Cart.Table.Header.Quantity" | t:"Quantity"}}</th>
            <th>{{"Cart.Table.Header.Total" | t:"Total"}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in CartObj.Items">
            <td class="col-xs-4">
              {{item.EventName}}
            </td>
            <td class="col-xs-4">
              {{item.Name}}
            </td>
            <td class="col-xs-1 center">
              {{item.Price | currency}}
            </td>
            <td class="col-xs-1">
              <input type="number" ng-model="item.Quantity" min="0" required="true" class="form-control">
            </td>
            <td class="col-xs-1">
              {{item.Price * item.Quantity | currency}}
            </td>
            <td class="col-xs-1 center">
              <a href="" class="btn btn-red" ng-click="removeItem(item.Key)" tooltip="Remove Item" confirm="Are you sure?">
                <i class="icon-remove-sign icon-large text-error"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <td class="light-gray-bg">{{"Cart.Table.Subtotal" | t:"Subtotal"}}</td>
            <td class="light-gray-bg">{{subtotal() | currency}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
  <div class="row row-unpadded">
    <div class="col-sm-6 text-xs-center">
      <payment-icons payment-provider="{{StoreObj.PaymentProviders[0].ProviderType}}"></payment-icons>
    </div>
    <div class="col-xs-12 col-sm-6 text-right text-xs-center">    
      <a href="" class="btn btn-clear btn-default" confirm="Are you sure you want to clear your cart?" ng-click="clearCart()">
        <i class="icon-remove"></i> 
        {{"Cart.Button.ClearCart" | t:"Clear Cart"}}
      </a>
      <a href="" ng-href="#/school/{{CartObj.StoreKey}}" class="btn btn-blue btn-clean">
        <i class="icon-reply"></i> {{"Cart.Button.ContinueShopping" | t:"Continue Shopping"}} 
      </a>
      <a href="" class="btn btn-green btn-clean btn-large" ng-click="checkout()" ng-disabled="processingRequest" ng-show="CartObj">
        <i class="icon-shopping-cart icon-large"></i> 
        <span ng-show="!auth.isSignedIn()">{{"Cart.Button.SigninCheckout" | t:"Signin &"}}</span>
        {{"Cart.Button.Checkout" | t:"Checkout"}}
      </a>
    </div>
  </div>
</div>