<loader hide-on="ServerCart">
  {{"Cart.FetchingServerChart" | t:"Please wait while fetch your order information"}}
</loader>

<div ng-init="loadServerCart()" ng-show="!DoneState">
  <div class="row row-unpadded">
    <div class="col-xs-12">
      <div id="done" ng-show="DoneState">
        We're redirecting you to your order or click <a href="" class="btn btn-red btn-huge" ng-href="#/orders/{{OrderObj.StoreKey}}/{{OrderObj.Key}}">View Order</a>
      </div>
      <div id="open" ng-show="OpenState">
        <h2>{{"Cart.Status.Open.Title" | t:"Looks like your order did NOT finish successfully" }}</h2>
        <p>{{"Cart.Status.Open.Content" | t:"Please go to your cart and try again" }}</p>
      </div>
      <div id="error" ng-show="ErrorState">
        <h2>{{"Cart.Status.Error.Title" | t:"There was an error processing your order" }}</h2>
        <p>{{"Cart.Status.Error.Content" | t:"Please try again" }}</p>
      </div>
      <div id="canceled" ng-show="CanceledState">
        <h2>{{"Cart.Status.Canceled.Title" | t:"Looks like your order was canceled" }}</h2>
        <p>{{"Cart.Status.Canceled.Content" | t:"Have a nice day" }}</p>
      </div>

      <div id="unprocessed" ng-show="UnprocessedState">
        <h2>{{"Cart.Status.Unprocessed.Title" | t:"It seems that your cart is empty" }}</h2>
        <p>{{"Cart.Status.Unprocessed.Content" | t:"" }}</p>
      </div>
    </div>
  </div>
</div>