#login, #signup{
  padding-top:60px;
  @media (max-width: $screen-phone-max) { 
    padding-top:0;      
  }

  h3{
    color:$pt-light-gray;
  }
  .or{
    text-align: center;
    padding:10% 0;
    background: url(/img/fading_border_vertical.png) 50% 50% no-repeat;
    span{
      padding:5px 0;
      background:#fff;
    }
  }
  a.provider{
    margin-right:5px;
    &:hover{
      text-decoration: none;
    }
  }
  .options{
    margin-bottom:20px;
    padding-bottom:20px;
  }
}
#login{
  
  
  .create{
    margin-bottom:20px;
    .btn{
      color:$pt-red
    }
  }
}
#signup{
  .signup-options{
    margin-bottom:20px;
    padding-bottom:20px;
  }
  .login-option{
    margin-bottom:20px;
    .btn{
      color:$pt-red
    }
  }
}