#login, #signup{
  
  .welcome{
    font-size:1.7em;
    font-weight: 900;
    padding:5px 10px;
  }

  h3{
    color:$pt-light-gray;
  }
  .or{
    text-align: center;
    padding:10% 0;
    background: url(/img/fading_border_vertical.png) 50% 50% no-repeat;
    span{
      padding:5px 0;
      background:#fff;
    }
  }
  a.provider{
    margin-right:5px;
    min-height:30px;
    &:hover{
      text-decoration: none;
    }
    img{
      margin-bottom:10px;
    }
  }
  .options{
    margin-bottom:20px;
    padding-bottom:20px;
  }
  .additional-options{
    margin-bottom:20px;
    .btn{
      color:$pt-red;
      white-space: normal;
      @media (max-width: $screen-phone-max) { 
        font-size:1.1em;
      }
    }
  }
}
#login{
  .create{
    margin-bottom:20px;
    .btn{
      color:$pt-red;
      white-space: normal;
    }
  }
}
#signup{
  .signup-options{
    margin-bottom:20px;
    padding-bottom:20px;
  }
  .additional-option{
    margin-bottom:20px;
    .btn{
      color:$pt-red;
      white-space: normal;
    }
  }
}