// Really Small SCreen
@media screen and (max-width: 568px) {
    h1,h2,h3,h4,h5 {
        font-size:1.6em;
    }
}

//xs Screen
@media screen and (max-width: $screen-phone-max) {
    h1,h2,h3,h4,h5 {
        font-size:1.7em;
    }
}

// sm screen
@media screen and (min-width: $screen-tablet) {
  input[type="text"].huge{
    font-size:3.2em;
    height:1em;
  }

  .btn-huge{
    font-size: 1.6em;
  }
}

h2.huge{
  font-size:3.2em;
}

.providers .provider i{
  margin-right: 5px;
}

//Alignment
@media (max-width: $screen-phone-max) {
  .text-xs-center{
    text-align: center !important;
  }
  .text-xs-left{
    text-align: left !important;
  }
}


//Borders
@media (min-width: $screen-small) {
  .border-right{
    padding-right:14px;
    border-right:1px solid $pt-super-light-gray;
  }
}
@media (max-width: $screen-phone-max) {
  .border-xs-bottom{
    border-bottom:1px solid $pt-super-light-gray; 
  }  
}
.border-bottom{
  border-bottom:1px solid $pt-super-light-gray; 
}