//TEXT
.text-upcase{
  text-transform: uppercase;
}

.fading-border{
  background: url(../img/fading_border_col_3.png) 50% 100% no-repeat;
}

// Really Small SCreen
@media screen and (max-width: 568px) {
    h1,h2,h3,h4,h5 {
        font-size:1.6em;
    }
}

//xs Screen
@media screen and (max-width: $screen-phone-max) {
    h1,h2,h3,h4,h5 {
        font-size:1.7em;
    }
}

.btn-huge{
  font-size: 1.8em;
}
@media (min-width: $screen-small) {
  .btn-huge{
    font-size: 1.3em;
  } 
}
@media (max-width: $screen-phone-max) { // xs screen
  .btn-huge{
    font-size: 1.8em;
  }
}

.providers .provider i{
  margin-right: 5px;
}

//Alignment
@media (max-width: $screen-phone-max) {
  .text-xs-center{
    text-align: center !important;
  }
  .text-xs-left{
    text-align: left !important;
  }
  .text-xs-right{
    text-align: right !important;
  }
}

.no-overflow{
  overflow: hidden;
}

//Colors backgrounds
.blue-bg{
  background: $pt-blue;
}

.dark-blue-font{
  color: $pt-dark-blue;
}

.green-bg{
  background: $pt-green;
}
.dark-green-bg{
  background: $pt-dark-green;
}
.dark-green-font{
  color: $pt-dark-green;
}

.gray-bg{
  background: $pt-gray;
}
.light-gray-bg{
  background: $pt-super-light-gray;
}

//blocks
.blocks{
  & > .block{
    text-align: center;
  }
}
@media (min-width: $screen-tablet) {
  .blocks{
    & > .block{
      height:200px;
    }
  }
}
@media (min-width: $screen-desktop) {
  .blocks{
    & > .block{
      height:271px;
    }
  }
}
@media (min-width: $screen-large-desktop) {
  .blocks{
    & > .block{
      height:300px;
    }
  }
}

.block-target{
  text-align: center;
  padding-top:5%;
  .icon{
    font-size: 10em;
    display: block;
    margin-bottom: 10px;
  }
  span{
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
  .block-target{
    .icon{
      font-size: 7em;
    }
    span{
      font-size:1.7em;
    }
  }
}
.block-point-right{
  position: relative;
  &:after{
    position: absolute;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    font-size:4em;
    right:35px;
    top:38%;
    content:'\f054';
    @media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
      font-size: 2.5em;
    }
    @media (max-width: $screen-phone-max){
      content: '';
    }
  }
}

.block-title{
  text-align: center;
  padding-top:5%;
  &.with-subtitle{
    padding-top:4%;
  }
  h4, h5{
    i{
      color:$pt-super-light-gray;
    }
  }
  h4{
    font-size:2.7em;
    padding-bottom:15px;
    margin-bottom:20px;
  }
  h5{
    font-size:2.5em;
    padding-bottom:20px;
  }
}
@media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
  .block-title{
    h4{
      font-size:1.7em;
    }
  }
}

.block-image{
  background:$pt-dark-gray;
}


//Location Address
.location{
  text-align: left;
  margin-bottom:10px;
  .map-marker{
    font-size:1.7em;
    color:lighten($pt-light-gray, 25%);
    text-align: right;
  }
  address{
    padding-top:5px;
  }
}

//Borders
@media (min-width: $screen-small) {
  .border-right{
    padding-right:14px;
    border-right:1px solid $pt-super-light-gray;
  }
}
@media (max-width: $screen-phone-max) { 
  .border-xs-right{
    padding-right:14px;
    border-right:1px solid $pt-super-light-gray;
  }
}
@media (max-width: $screen-phone-max) {
  .border-xs-bottom{
    border-bottom:1px solid $pt-super-light-gray; 
  }  
}
.border-bottom{
  border-bottom:1px solid $pt-super-light-gray; 
}

//checkout process
.checkout-process{
  .process-step{
    position: relative;
    padding-top:10px;
    padding-bottom:10px;
    background:$pt-dark-green;
    color:$pt-light-green;
    text-align: center;
    border-top:20px solid darken($pt-dark-green, 9%);
    &.upcoming{
      background:$pt-light-gray;
      border-color:lighten($pt-light-gray, 9%);
      color:$pt-gray;
      .text{
        color:$pt-gray;
      }
      .badge{
        background: darken($pt-light-gray, 9%);
        color: $pt-dark-gray;
      }
      .info span{
        background:darken($pt-light-gray, 19%);
      }
    }
    &.passed{
      color:lighten($pt-dark-green, 9%);
      .text, .badge{
        color:lighten($pt-dark-green, 9%);
      }
    }
    &.block-point-right:after{
      font-size:2em;
      right:15px;
      top:21%;
    }

    span.badge, span.text{
      font-size:2em;
    }

    .badge{
      background:darken($pt-dark-green, 9%);
      font-size: 1.9em;
      margin-right: 6px;
      border-radius: 30px;
      padding:10px;
    }

    .text{
      color:white;
    }

    .info{
      position: absolute;
      top:-16px;
      left:0;
      span{
        text-transform: uppercase;
        padding:6px 10px;
        font-size:1.1em;
        background:darken($pt-dark-green, 19%);
        color:white;
      }
    }

    
  }
}