.stores{
  form{
    float:left;
    width:100%;
    padding:160px 0;
    margin-bottom:5px;
    background:url(../img/search_bg.jpg);
  }
  .search{
    background:$pt-gray;
    padding:10px 20px;
    h4{
      color:#fff;
      margin:0;
      font-weight: 300;
      font-size:2.3em;
      padding-left:15px
    }
    .input-group{
      margin: 10px auto;
      border-left: 4px solid $pt-green;
      @media (max-width: $screen-phone-max) {
        width: 100%;  
      }
      input, a.btn{
        border-radius: 0;
      }
      .input-group-btn{
        @media (max-width: $screen-phone-max) {
          display:inline;
          a.btn{
            display:block;
          }
        }
      }
      a.btn{
        font-size:3em;
        border-color:$pt-green;
        font-weight: 500;
        @media (min-width: $screen-tablet) and (max-width: $screen-tablet-max) {
          line-height:3.97em;
          font-size:1em;
        }
      }
      input{
        height: 77px;
        font-size:1.9em;
        line-height: 1.3em;
        border-color:white;
      }
    }
    p{
      margin:0 0 0 20px;
      font-size:1.2em;
    }
  }
}
.store-list{
  .blank{
    padding:50px;
    background:$pt-dark-gray;
  }
  .store{
    color:$pt-light-gray;
    text-align: center;
    .main-image{
      border-bottom:4px solid $pt-blue;
      text-align: center;
      margin-left: -15px;
      margin-right: -15.1px;
    }
    h4{
      font-size: 2.6em;
      padding-bottom:10px;
    }
  }
}
.store{
  #events{
    overflow: hidden;
  }
  .event{
    border-color:#f0f0f0;
    border-bottom:5px solid white;
    &:hover{
      border-bottom:5px solid $pt-green;
    }
    h4{
      margin-bottom: 0;
      padding-bottom: 10px;
      font-size: 2em;
    }
    .date{
      font-size:1.08em;
      color:$pt-gray;
      padding:10px 0;
      font-weight: 500;
      .day{
        font-size:1.5em;
        font-weight:900;
        line-height:1em;
      }
      .year{
        font-size: 0.9em;
      }
    }
    .image{
      text-align: center;
      position: relative;
      .ticket-stub{
        position: absolute;
        bottom: -1px;
        left:0;
        width:100%;
        height:auto;
      }
    }
    .btn{
      font-size:1.7em;
      padding:6px 25px;
    }
  }
}

.preptickets-info{
  h3{
    text-align: center;
  }
  p{
    line-height:2em;
  }
}