#ticket{
  @include border-radius(5px);
  border: 1px solid #777;
  padding: 15px;
  margin-bottom:10px;
  .qrcode{
    margin-bottom: 20px;
    text-align: center;
  }
}
.ticket_msg {
  text-align: center;
}
@media (max-width: 568px){
  .ticketNav ul{
    padding:0;
    overflow: visible;
  }
  .pagination-large ul > li > a{
    font-size:1em;
  }
}