body{
  & > header{
    padding-top:10px
  }
  & > #main{
    margin:15px auto;
  }
  & > footer{
    color:#999;
    background:#f0f0f0;
    font-size:0.9em;
    padding-bottom:15px;
    h4{
      font-size:1.2em;
    }

    .links, .copyright{
      font-size:0.9em;
    }
    .copyright{
      margin-top:20px;
    }
  }
}