body{
  & > header{
    padding-top:10px
  }
  & > #main{
    margin:15px auto;
  }
  & > footer{
    color:#999;
    background:#f0f0f0;
    padding:15px 0;
    p{
      font-size:1em;
    }
    h4{
      font-size:1.7em;
    }

    .links, .copyright{
      font-size:0.9em;
    }
    .copyright{
      margin-top:20px;
    }
  }
}