<div id="forgot-password" class="row" ng-init="forgotPasswordBreadcrumb()">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 account">
    <h3>{{'ForgotPassword.Title' | t:'Forgot Password'}}</h3>
    <p class="lead">{{'ForgotPassword.Description' | t:"Fill in your email and we'll email you a password reset link"}}</p>
    <form name="forgotPasswordForm" ng-submit="forgotPassword()">
      <div class="form-group">
        <input class="form-control" type="email" required="true" name="email" placeholder="email" ng-model="AccountProfile.Email">      
        <span class="help-inline" ng-show="forgotPasswordForm.email.$error.email">{{"Validation.ValidEmail" | t:"Must be a valid email address"}}</span>
        <span class="help-inline" ng-show="forgotPasswordForm.email.$dirty && signinForm.email.$error.required">{{"Validation.RequiredText" | t:"Required"}}</span>
      </div>
      <div class="form-group text-right text-xs-center">
        <button class="btn btn-green btn-clean btn-huge" ng-disabled="forgotPasswordForm.$invalid" >
          {{'ForgotPassword.Button.Submit' | t:'Submit'}}
        </button>
      </div>
    </form>
  </div>
</div>