<div class="row">
  <div class="span5 offset1" ng-init="loadAuthProviders()">
    <h3>{{'Signin.Title' | t:'Signin'}}</h3>
    <form ng-submit="signin()">
      <div>
        <input type="text" placeholder="email" ng-model="AccountProfile.Email">      
      </div>
      <div>
        <input type="password" placeholder="password" ng-model="AccountProfile.Password">        
      </div>
      <button class="btn btn-primary">Signin</button>
    </form>
    <ul class="socialicons color">
      <loader hide-on="authProviders">Loading the sign on list</loader>
      <li ng-repeat="provider in authProviders">
        <a href="" ng-class="provider | lowercase" ng-click="signin(provider)">{{provider}}</a>
      </li>
    </ul>
  </div>
  <div class="span5">
    <h3>{{'Signup.Title' | t:"Signup"}}</h3>
  </div>
</div>

