<div class="stores">
  <h2 class="text-center huge">School Lookup</h2>
  <form action="" class="form-horizontal row" name="searchForm">
    <div class="offset2 span8">
      <div class="row well">
        <div class="span6">
          <input type="text" class="span6 huge" name="query" autocomplete="off" ng-model='selectedStore' typeahead="store.Name for store in search($viewValue)">
        </div>
        <a href="" class="btn btn-primary btn-huge span1" ng-click="search()"><i class="icon-search"></i> Search</a>
      </div>
    </div>
  </form>
  <loader hide-on="!Searching">Loading...</loader>
  <div class="alert alert-info" ng-show="FoundNothing">No schools found</div>
  <ul id="schoolList" class="stores list thumbnails">
    <li class="store span4" ng-repeat="store in Stores">
      <div class="thumbnail" id="{{store.Key}}">
        <a href="" ng-click="goToStore({URI:store.URI, key:store.StoreKey})">
          <img ng-src="" alt="">
          <h4 class="text-center">{{store.Name}}</h4>
        </a>
      </div>
    </li>
  </ul>
</div>