<div class="stores">
  <h2 class="text-center huge">School Lookup</h2>
  <form action="" class="form-horizontal row" ng-submit="search()">
    <div class="offset2 span8">
      <div class="row well">
        <div class="span6">
          <input type="text" class="span6 huge" ng-model='query'>
        </div>
        <a href="" class="btn btn-primary btn-huge span1" ng-click="search()"><i class="icon-search"></i> Search</a>
      </div>
    </div>
  </form>
  <div id="schoolList" ng-repeat="store in store.getStores()"> 
    <div class="store well" id="{{store.StoreKey}}">
      <a href="" ng-click="goToStore({URI:store.URI, key:store.Key})">
        {{store.SearchText}}
      </a>
    </div>
  </div>
</div>