<div class="stores" ng-init="clearBreadcrumbs()">
  <div class="row">
    <div class="col-xs-12 col-sm-12 search-area">
      <form action="" class="form-horizontal" name="searchForm" ng-submit="search()">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="search">
            <h4>{{"Store.Search.Headline" | t:"Search all your school's events today!"}}</h4>
            <div class="input-group">
              <input type="text" class="form-control input-lg" name="query" autocomplete="off" ng-model='$parent.query'
              placeholder='{{"Store.Search.Placeholder" | t:"Start your search here"}}' on-keypress="search(query, false)" >
              <div class="input-group-btn">
                <a href="" class="btn btn-green btn-lg" ng-click="search()">&gt; {{"Store.Search.Button" | t:"Search"}}</a>
              </div>
            </div>
            <p class="text-muted">{{"Store.Search.Hint" | t:"Search by school name, city, or ZIP code"}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <loader hide-on="!Searching">{{"Store.Search.SearchingText" | t:({query:query, defaultValue:"Loading..."})}}</loader>
  <div class="row">
    <div class="col-xs-12" ng-show="FoundNothing" scroll-if="Stores.length == 0">
      <div class="alert alert-info ">{{"Store.Search.NoResult" | t:"No Schools Found"}}</div>
    </div>
  </div>
  <div id="results" scroll-if="">
    <div class="store-list row row-unpadded" ng-repeat="stores in GroupedStores">
      <div class="store col-sm-4 col-xs-12" ng-switch="store.blank" ng-class="{blank:store.blank, 'background-extender':store.blank}" ng-repeat="store in stores" >
        <div ng-switch-when="true">
          <i class="icon-map-marker"></i>
          <p>{{"Store.NoMoreResults" | t:"No more Results"}}</p>
        </div>
        <div id="{{store.Key}}" ng-switch-when="undefined">
          <div class="main-image">
            <a href="" ng-click="goToStore({URI:store.URI, key:store.StoreKey})">
              <store-img store="store"></store-img>
            </a>
          </div>
          <h4 class="text-center fading-border-bottom">{{store.Name}}</h4>
          <div class="row location">
            <div class="col-xs-3 map-marker"><i class="icon-map-marker icon-large"></i></div>
            <div class="col-xs-9"><address>{{store.Locations}}</address></div>
          </div>
          <a href="" ng-click="goToStore({URI:store.URI, key:store.StoreKey})" class="btn btn-blue btn-clean">
            {{"Store.Search.Result.Button.ViewStore" | t:"View School"}}
          </a>
        </div>
      </div>  
    </div>
    
  </div>

  <div class="preptickets-info row row-unpadded">
    <div class="col-sm-4 fading-border-right">
      <h3 class="text-blue">{{"Store.SalesText.Column1.Title" | t:"Fast Ticketing"}}</h3>
      <p>{{"Store.SalesText.Column1.Content" | t:""}}</p>
    </div>
    <div class="col-sm-4 fading-border-right">
      <h3 class="text-green">{{"Store.SalesText.Column2.Title" | t:"Social Sharing"}}</h3>
      <p>{{"Store.SalesText.Column2.Content" | t:""}}</p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-red">{{"Store.SalesText.Column3.Title" | t:"Easy Payment"}}</h3>
      <p>{{"Store.SalesText.Column3.Content" | t:""}}</p>
    </div>
  </div>
</div>