<loader hide-on="StoreObj.Key">Please wait while fetch the school information</loader>
<div class="store" ng-init="loadStore()" ng-show="StoreObj.Key" style="display:none;">
  {{StoreObj.Name}}

  <h3>Events</h3>
  <ul class="events thumbnails">
    <li class="event span4" ng-repeat="event in StoreObj.Events">
      <div class="thumbnail">
        <a href="" ng-href="#/school/{{StoreObj.URI}}/event/{{event.CustomURI.URI}}">
          <h4 class="text-center">{{event.Name}}</h4>
        </a>
        <p class="description" ng-bind-html-unsafe="event.Description"></p>
      </div>
      <div class="text-right" style="margin-top:10px">
        <a href="" class="btn btn-success" ng-click="goToEvent({Key:event.Key, URI: event.CustomURI.URI})">
          <i class="icon-ticket"></i> Buy
        </a>
      </div>
    </li>
  </ul>
</div>