<loader hide-on="StoreObj.Key">{{"Store.LoadingText" | t:"Please wait while we fetch the school information"}}</loader>
<div class="store" ng-init="loadStore()" ng-show="StoreObj.Key" style="display:none;">
  <blocks>
    <block type="target" color="blue" class="hidden-xs">
      <i class="icon icon-building"></i>
      <span>{{"Store.Title"| t:"School"}}</span>
    </block>
    <block class="no-overflow">
      <div class="col-borderless">
        <store-img store="StoreObj"></store-img>
      </div>
    </block>
    <block type="title">
      <div class="row fading-border-bottom title">
        <div class="col-xs-2"><i class="icon-building"></i></div>
        <div class="col-xs-10"><h4>{{StoreObj.Name}}</h4></div>
      </div>
      <location-address>{{StoreObj.Address | address}}</location-address>
    </block>
  </blocks>

  <div id="events">
    <div class="event col-sm-4 col-xs-12 border-right" ng-repeat="event in StoreObj.Events">
      <div class="col-borderless image">
        <a href="" ng-href="#/school/{{StoreObj.URI}}/event/{{event.CustomURI.URI}}">
          <event-img event="event"></event-img>
          <img src="/img/ticket-stub.png" class="ticket-stub" >
        </a>
      </div>
      <h4 class="text-center border-bottom">
        <a href="" ng-href="#/school/{{StoreObj.URI}}/event/{{event.CustomURI.URI}}" class="">
          {{event.Name}}
        </a>
      </h4>
      <div class="row">
        <div class="col-xs-2 border-right border-xs-right text-center text-upcase date">
          <div class="day">{{event.StartTime | datetime:"day"}}</div>
          <div class="month">{{event.StartTime | datetime:"month3"}}</div>
          <div class="year">{{event.StartTime | datetime:"year"}}</div>
        </div>
        <div class="col-xs-10">
          <p class="description" >{{event.Brief | characters:200}}</p>
          <div class="text-center">
            <a href="" class="btn btn-green btn-large btn-clean text-upcase btn-bottom-buffer" ng-href="#/school/{{StoreObj.URI}}/event/{{event.CustomURI.URI}}">
               {{"Store.Button.Buy" | t:"Buy"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>