<loader hide-on="StoreObj.Key">Please wait while fetch the school information</loader>
<div class="store" ng-init="loadStore()" ng-show="StoreObj.Key" style="display:none;">
  <blocks>
    <block type="target" color="blue" class="hidden-xs">
      <i class="icon icon-building"></i>
      <span>School</span>
    </block>
    <block class="no-overflow">
      <div class="col-borderless">
        <img ng-src="/img/default_store.jpg" fallback-src="/img/default_store.jpg" alt="{{StoreObj.Name}} Image" class="img-responsive">
      </div>
    </block>
    <block type="title">
      <h4 class="fading-border-bottom">{{StoreObj.Name}}</h4>
      <location-address>{{StoreObj.Address | address}}</location-address>
    </block>
  </blocks>

  <div id="events">
    <div class="event col-sm-4 col-xs-12 border-right" ng-repeat="event in StoreObj.Events">
      <div class="col-borderless image">
        <a href="" ng-href="#/school/{{StoreObj.URI}}/event/{{event.CustomURI.URI}}">
          <img ng-src="/img/default_event.jpg" fallback-src="/img/default_store.jpg" alt="{{event.Name}}" class="img-responsive">
          <img src="/img/ticket-stub.png" class="ticket-stub" >
        </a>
      </div>
      <h4 class="text-center border-bottom">
        <a href="" ng-href="#/school/{{StoreObj.URI}}/event/{{event.CustomURI.URI}}" class="">
          {{event.Name}}
        </a>
      </h4>
      <div class="row">
        <div class="col-xs-2 border-right border-xs-right text-center text-upcase date">
          <div class="day">{{event.StartTime | datetime:"day"}}</div>
          <div class="month">{{event.StartTime | datetime:"month3"}}</div>
          <div class="year">{{event.StartTime | datetime:"year"}}</div>
        </div>
        <div class="col-xs-10">
          <p class="description" ng-bind-html-unsafe="event.Description"></p>
        </div>
      </div>
      
      <div class="text-center">
        <a href="" class="btn btn-green btn-large btn-clean text-upcase btn-bottom-buffer" ng-href="#/school/{{StoreObj.URI}}/event/{{event.CustomURI.URI}}">
           &gt; Buy
        </a>
      </div>
    </div>
  </div>
</div>