<div id="event" ng-init="loadEvent()" ng-show="EventObj">
  {{StoreObj.Name}}: {{EventObj.Name}}
  <div class="eventDetails">
    <p>{{EventObj.Description}}</p>
    <h3>Tickets</h3>
    <form action="" name="eventForm" ng-submit="saveCart()">
      <table class="table table-hover">
        <tr>
          <th class="span9">Ticket Name</th>
          <th class="span1">Cost</th>
          <th class="span1">Quantity</th>
          <th class="span1">Total</th>
        </tr>
        <tr class="items" ng-repeat="item in EventObj.Items">
          <td>{{item.Name}}</td>
          <td>{{item.Price.ItemPrice | currency}}</td>
          <td class="">
            <input type="number" min='0' max="99" required="true" ng-model="CurrentCart.Items[item.Key].Quantity" class="span1"/>
          </td>
          <td>{{((item.Price.ItemPrice * CurrentCart.Items[item.Key].Quantity) || 0) | currency}}</td>
        </tr>
      </table>
      <div class="row">
        <a href="" class="offset9 span2 btn btn-success btn-large" ng-click="saveCart()" ng-disabled="eventForm.$invalid">
          <i class="icon-shopping-cart"></i> Add to Cart
        </a>
      </div>
    </form>
  </div>
  <a href="" class="btn" ng-href="#/school/{{StoreObj.URI}}"><i class="icon-arrow-left"></i> Back to {{StoreObj.Name}}</a>
</div>