<loader hide-on="Orders">{{"Order.Index.Loading" | t:"Please wait while we fetch your Orders"}}</loader>
<div id="orders" ng-init="loadOrders()" ng-show="Orders" style="display:none;">
  <div class="row row-unpadded">
    <div class="col-xs-12">
      <h3>{{"Order.Index.Header" | t:"Your Orders"}}</h3>
      <div class="order well" ng-repeat="order in Orders">
        <a href="" ng-href="#/orders/{{order.StoreKey}}/{{order.Key}}">
          <h2>{{"Order.Index.OrderNumber" | t:({number: order.OrderId, defaultValue:"Order #: "+ order.OrderId})}}</h2>
        </a>
        <p>
          <b>{{"Order.Index.PlacedOn" | t:"Placed On"}}</b>
          {{order.Placed | datetime:"short"}}
        </p>
        <p>
          <b>{{"Order.Index.Total" | t:"Total:"}}</b>
          <span class="label label-default">{{order.Total.ItemPrice | currency}}</span>
        </p>
      </div>
    </div>
  </div>
</div>