<loader hide-on="Order">Loading order details</loader>
<div id="order" ng-init="loadOrder()" ng-show="Order" style="display:none;">
  <div class="row hidden-print row-unpadded">
    <div class="col-sm-4 order-details">
      <h3>Order Details</h3>
        <div class="row">
          <div class="col-xs-4"><b>OrderId</b></div>
          <div class="col-xs-8">{{Order.OrderId}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>Date of Order</b></div>
          <div class="col-xs-8">{{Order.Placed | datetime}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>Number of items</b></div>
          <div class="col-xs-8">{{Order.InventoryItems.length}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>Total</b></div>
          <div class="col-xs-8">{{Order.Total.ItemPrice | currency}}</div>
        </div>
    </div>
    <div class="col-sm-8">
      <h3>Tickets</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tr ng-repeat="ticket in Order.InventoryItems">
          <td class="col-xs-8">
            {{ticket.EventName}} - {{ticket.ItemInfoName}}
          </td>
          <td class="col-xs-4">
            <a href="" class="btn btn-info" ng-href='#/orders/{{Order.StoreKey}}/{{Order.Key}}/{{ticket.Key}}'><i class="icon-eye-open"></i> View <span class="visible-md visible-lg">&amp; Print</span> Ticket</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <ng-include src="'views/tickets/index.print.html'"></ng-include>
  <div class="row">
    <div class="col-xs-12 text-right text-xs-center">
      
      <a href="" class="btn hidden-print" ng-href="#/orders"><i class="icon-arrow-left"></i> Back to orders</a>    
    </div>
  </div>
  
</div>