<loader hide-on="Ticket">{{"Ticket.Loading" | t:"Please wait while we load your ticket"}}</loader>
<div id="view-ticket">
  <div ng-include="'views/tickets/show.print.html'" ng-init="loadTicket()" ng-show="Ticket"></div>
  <div class="row hidden-print buttons">
    <div class="col-xs-12 col-sm-4 text-center">
      <a href="" ng-href="#/orders/{{Order.StoreKey}}/{{Order.Key}}" class="btn btn-default">
        <i class="icon-arrow-left"></i> 
        {{"Ticket.Button.BackToOrder" | t:"back to your order"}}
      </a>  
    </div>
    <div class="col-xs-12 col-sm-8 text-center">
      <ticketpaging order="Order" ticket="Ticket" index="TicketIdx"></ticketpaging>    
    </div>
  </div>
</div>
