<div id="ticket" ng-init="loadEventForTicket(Ticket)">
  <blocks>
    <block type="image" class="hidden-xs">
      <store-img store="StoreObj"></store-img>
    </block>
    <block class="col-sm-push-4">
      <qrcode ticket="Ticket"></qrcode>
      <div class="visible-desktop hidden-print text-center">
        <a href="" class="btn btn-red" ng-click="printTicket()"><i class="icon-print icon-large"></i> {{"Ticket.Button.PrintTicket" | t:"Print Ticket"}}</a>
      </div>
    </block>
    <block class="col-sm-pull-4 ticket-details">
      <p class="text-muted">{{"Ticket.TicketNumber" | t:({number:(TicketIdx + 1),defaultValue:"Ticket #" + (TicketIdx + 1)})}}</p>
      <h3>{{StoreObj.Name}}</h3>
      <h4>{{Ticket.EventName}}</h4>
      <h5>{{Ticket.ItemInfoName}} - {{Ticket.ItemInfoPrice.ItemPrice | currency}}</h5>
      <div class="eventDetails">
        <eventdate event="EventData[Ticket.EventKey]"></eventdate>
        <div class="location">
          <div class="name">{{EventData[Ticket.EventKey].Places[0].Name}}</div>
          <div class="address">{{EventData[Ticket.EventKey].Places[0].Address | address}}</div>
        </div>
      </div>
    </block>
  </blocks>
</div>
<div class="row visible-print">
  <div class="col-xs-12 ticket_msg">
    <img src="/img/ticket_msg.png" alt="Ticket Message">
  </div>
</div>