<loader hide-on="DomainProfile">Loading your profile</loader>
<div id="profile" ng-init="loadProfile()" ng-show="DomainProfile" style="display:none;" class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>{{'Profile.ChangePassword.Title' | t:'Change your Password'}}</h3>
    <form action="" name="passwordForm" class="form-horizontal">
      <div class="form-group">
      <label class="form-label" for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" name="NewPassword" placeholder="NewPassword" ng-model="Contact.NewPassword" required ng-minlength="6" class="form-control">
        <span class="help-inline" ng-show="passwordForm.NewPassword.$dirty && passwordForm.NewPassword.$error.required">Required</span>
        <span class="help-inline" ng-show="passwordForm.NewPassword.$error.minlength">{{"Validation.MinLength"| t:({charLength:passwordLength, defaultValue:"Must be at least " + passwordLength +" characters long "})}}</span>
      </div>
      <div class="form-group">
        <label class="form-label" for="RepeatPassword">Repeat New Password</label>
        <input type="password" id="RepeatPassword" name="RepeatPassword" placeholder="RepeatPassword" 
          ng-model="Contact.RepeatPassword" password-confirm="NewPassword" required class="form-control">
        <span class="help-inline" ng-show="passwordForm.RepeatPassword.$dirty && passwordForm.RepeatPassword.$error.required">{{"Validation.RequiredText" | t:"Required"}}</span>
        <span class="help-inline" ng-show="passwordForm.RepeatPassword.$dirty && passwordForm.RepeatPassword.$error.passwordmatch">
          {{"Validation.PasswordMismatch" | t:"Password doesn't match"}}
        </span>
      </div>
      <div class="form-actions">
        <a href="" class="btn btn-primary" ng-click="savePassword()" ng-disabled="passwordForm.$invalid || processingRequest">
          <i class="icon-save"></i> 
          {{"Profile.ChangePassword.Button.Save" | t:"Save"}}
        </a>
        <a href="" class="btn" ng-href="#/profile">
          <i class="icon-remove-circle"></i>
          {{"Profile.ChangePassword.Button.Cancel" | t:"Cancel"}}
        </a>
      </div>

    </form>
  </div>
</div>
