<loader hide-on="DomainProfile">Loading your profile</loader>
<div id="profile" ng-init="loadProfile()" ng-show="DomainProfile" style="display:none;">
  <h3>Edit your Password:</h3>
  <form action="" name="passwordForm" class="form-horizontal">
    
    <div class="control-group">
      <label class="control-label" for="NewPassword">New Password</label>
      <div class="controls">
        <input type="text" id="NewPassword" name="NewPassword" placeholder="NewPassword" ng-model="Contact.NewPassword" required ng-minlength="6">
        <span class="help-inline" ng-show="passwordForm.NewPassword.$error.required">Required</span>
        <span class="help-inline" ng-show="passwordForm.NewPassword.$error.minlength">Must be at least 6 characters long</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="RepeatPassword">Repeat New Password</label>
      <div class="controls">
        <input type="text" id="RepeatPassword" name="RepeatPassword" placeholder="RepeatPassword" 
          ng-model="Contact.RepeatPassword" password-confirm="NewPassword" required>
        <span class="help-inline" ng-show="passwordForm.RepeatPassword.$error.required">Required</span>
        <span class="help-inline" ng-show="passwordForm.RepeatPassword.$dirty && passwordForm.RepeatPassword.$error.passwordmatch">
          Password mismatched
        </span>
      </div>
    </div>
    <div class="form-actions">
      <a href="" class="btn btn-primary" ng-click="savePassword()" ng-disabled="passwordForm.$invalid"><i class="icon-save"></i> Save</a>
      <a href="" class="btn" ng-href="#/profile">Cancel</a>
    </div>

  </form>
</div>
