<footer class="hidden-print">
  <div class="blue-bar">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-7 col-sm-7 col-lg-7 text-right text-xs-center">
          <p>{{"Footer.Tagline.Content" | t:"Schools are free to signup!"}}</p>
        </div>
        <div class="col col-xs-12 col-5 col-sm-5 col-lg-5 text-xs-center">
          <a href="" class="btn btn-blue">{{"Footer.Tagline.Button" | t:"Learn More"}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row border-bottom">
      <div class="col col-7 col-sm-7 col-lg-7 border-right border-xs-bottom school-admin">
        <h3>{{"Footer.SchoolAdmin.Title" | t:"School Administrators"}}</h3>
        <div ng-bind-html-unsafe="'Footer.SchoolAdmin.ContentHTML' | t:' '"></div>
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <a class="btn btn-blue btn-indent btn-bottom-buffer">{{"Footer.SchoolAdmin.Button" | t:"Sign up your school today"}}</a>
          </div>
        </div>
      </div>
      <div class="col col-5 col-sm-5 col-lg-5 testimonials">
        <div class="row">
          <div class="col col-xs-3 text-right">
            <img src="/img/testimonial_head.png" alt="Testimonial Head">
          </div>
          <div class="col col-xs-9">
            <h3>{{"Footer.Testimonial.Title" | t:"Testimonials"}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="quote">
              <p> 
                {{"Footer.Testimonial.Content" | t:"Before prepTickets, I would have to spend up to 6 hrs a month doing ticket administration tasks. I’ve found a better way now, thanks prepTickets!"}}
              </p>
              <small>by {{"Footer.Testimonial.Author" | t:"Frank Johns"}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-sm-7">
        <div class="links">
          <a href="#" ng-href="#/">Home</a> |
          <a href="#" ng-href="#/page/about-us">About Us</a> |
          <a href="#" ng-href="#/page/contact-us">Contact Us</a> |
          <a href="#" ng-href="#/page/privacy-policy">Privacy Policy</a> |
          <a href="#" ng-href="#/page/terms">Terms</a> |
          <a href="#" ng-href="#/page/refund-policy">Refund Policy</a>
        </div>
        <div class="copyright">&copy; {{"System.Year" | t:"2013"}} PrepTickets.com</div>
      </div>
      <div class="col col-xs-12 col-sm-5 owner text-xs-left">
        PrepTickets™ is property of Horizon Productions
      </div>
    </div>
  </div>
  <div class="row color-strip">
    <div class="col-xs-2" style="background:#a469bd;"></div>
    <div class="col-xs-2" style="background:#faa226;"></div>
    <div class="col-xs-2" style="background:#00acee;"></div>
    <div class="col-xs-2" style="background:#f4503e;"></div>
    <div class="col-xs-2" style="background:#2ecc71;"></div>
    <div class="col-xs-2" style="background:#c39cd3;"></div>
  </div>
</footer>