<div class="navbar navbar-static-top main-navbar">
  <a class="btn btn-navbar navbar-toggle" ng-click="navCollapsed = !navCollapsed">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a href="" class="navbar-brand visible-xs">PrepTickets</a>
  <ul collapse="navCollapsed" class="nav navbar-nav nav-collapse collapse">
    <li ng-class="{active:(selectedCtrl == 'storeCtrl')}"><a href="#">Find School</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right col-xs-12 shopping-cart" ng-show="store.getCurrentStoreKey()" style="display:none;">
    <li>
      <a class="" ng-href="#/cart/{{store.getCurrentStoreKey()}}">
        <i class="icon-shopping-cart icon-large"></i>
        <ng-pluralize count="cart.count(store.getCurrentStoreKey())"
                         when="{'0': 'No items in cart',
                                'one': '1 item in cart',
                                'other': '{} items in cart'}">
        </ng-pluralize>
      </a>
    </li>
  </ul>
  
</div>
